@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    
}

body {    
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: url('/images/background.png');
    background-size: cover;
}


::-webkit-scrollbar {
    width: 0.5em;
    height: 0.25em;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1e6f64;
  }

