@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    
}

body {    
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: #c70ae9;
    background: linear-gradient(100deg, rgba(86,52,163,1) 34%, rgba(219, 75, 227) 95%);
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.25em;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1e6f64;
  }

